In [1]:
import sqlite3

try:
    con = sqlite3.connect("pythonDB.db")
    cur = con.cursor() 
except Exception as e:
    print("Chưa kết nối với Database. Lỗi:", e)

In [ ]:
data_NHAN_VIEN = [
    ('N01', 'Tran Ngoc', 'An', 'Nam', '1965-11-10', 4500000, 'C03', 'N02'),
    ('N02', 'Luu An', 'Tu', 'Nam', '1980-12-10', 5200000, 'C03', None),
    ('N03', 'Ly Thanh', 'Ngoc', 'Nữ', '1988-09-25', 4300000, 'C02', 'N04'),
    ('N04', 'Le Kim', 'Oanh', 'Nữ', '1975-06-22', 5000000, 'C02', None),
    ('N05', 'Ly Van', 'Nan', 'Nam', '1988-03-07', 4800000, 'C03', 'N02'),
    ('N06', 'Nguyen Thi', 'Chin', 'Nữ', '1968-07-16', 3200000, 'C03', 'N05'),
    ('N07', 'Le Van', 'Bon', 'Nam', '1970-11-18', 4500000, 'C02', 'N04'),
    ('N08', 'Le Hung', 'Su', 'Nam', '1965-12-25', 6500000, 'C01', None),
]

cur.executemany("INSERT INTO NHAN_VIEN VALUES (?, ?, ?, ?, ?, ?, ?, ?)", data_NHAN_VIEN)
con.commit()

In [12]:
cur.execute("INSERT INTO CHI_NHANH (macn , tencn, manvptr, ngaynhamchuc) VALUES ('C01', 'Chi nhanh 1', 'N08', '2006-02-16'), ('C02', 'Chi nhanh 2', 'N04', '2005-12-10'), ('C03', 'Chi nhanh 3', 'N02', '2004-03-07')")
con.commit()

In [13]:
cur.execute("INSERT INTO VPHONG_CN (macn , matp) VALUES ('C01', '01'), ('C02', '02'), ('C03', '03'), ('C03', '04'), ('C03', '01')")
con.commit()

In [15]:
cur.execute('DELETE FROM THANH_PHO')

cur.execute("INSERT INTO THANH_PHO (matp , tentp) VALUES ('01', 'Ha Noi'), ('02', 'TPHCM'), ('03', 'Da Nang'), ('04','Can Tho')")
con.commit()

In [9]:
data_CONG_TRINH = [
    ('CT01', 'Cong trinh so 1', '2007-03-07', '2007-05-15', '03', 'C03'),
    ('CT02', 'Cong trinh so 2', '2007-02-16', '2007-05-15', '04', 'C03'),
    ('CT03', 'Cong trinh so 3', '2007-07-16', '2007-07-18', '01', 'C03'),
    ('CT04', 'Cong trinh so 4', '2007-07-18', '2007-12-25', '02', 'C02'),
    ('CT05', 'Cong trinh so 5', '2007-06-22', '2007-12-25', '01', 'C01'),
    ('CT06', 'Cong trinh so 6', '2007-06-22', '2007-12-10', '02', 'C02')
]

cur.executemany("INSERT INTO CONG_TRINH VALUES (?, ?, ?, ?, ?, ?)", data_CONG_TRINH)
con.commit()

In [10]:
data_PHAN_CONG = [
    ('N01', 'CT01', 18),
    ('N01', 'CT02', 30),
    ('N05', 'CT03', 20),
    ('N06', 'CT04', 26),
    ('N06', 'CT05', 12),
    ('N02', 'CT01', 12),
    ('N02', 'CT06', 20),
    ('N02', 'CT02', 18),
    ('N02', 'CT03', 22),
    ('N02', 'CT04', 32),
    ('N02', 'CT05', 16),
    ('N03', 'CT06', 8),
    ('N03', 'CT04', 28),
    ('N07', 'CT04', 12),
    ('N07', 'CT06', 32),
    ('N04', 'CT06', 24),
    ('N04', 'CT05', 16),
    ('N08', 'CT05', 18)
]

cur.executemany("INSERT INTO PHAN_CONG VALUES (?, ?, ?)", data_PHAN_CONG)
con.commit()

In [11]:
cur.execute("SELECT * FROM PHAN_CONG ASC LIMIT 3")
result = cur.fetchall()
for row in result:
    print(row) # in ra từng dòng dữ liệu

('N01', 'CT01', 18)
('N01', 'CT02', 30)
('N05', 'CT03', 20)

# Câu a

In [ ]:
query = '''
SELECT nv.honv, nv.tennv, cn.tencn FROM NHAN_VIEN nv 
JOIN CHI_NHANH cn ON nv.macn = cn.macn 
WHERE mucluong>=4000000 AND mucluong<=5000000
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('Tran Ngoc', 'An', 'Chi nhanh 3')
('Ly Thanh', 'Ngoc', 'Chi nhanh 2')
('Le Kim', 'Oanh', 'Chi nhanh 2')
('Ly Van', 'Nan', 'Chi nhanh 3')
('Le Van', 'Bon', 'Chi nhanh 2')

# Câu b

In [ ]:
query = '''
SELECT * FROM NHAN_VIEN nv 
WHERE PHAI = 'Nữ' AND (strftime('2025-05-30') - nv.ngaysinh) > 40
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('N04', 'Le Kim', 'Oanh', 'Nữ', '1975-06-22', 5000000.0, 'C02', None)
('N06', 'Nguyen Thi', 'Chin', 'Nữ', '1968-07-16', 3200000.0, 'C03', 'N05')

# Câu c

In [ ]:
query = '''
SELECT cn.tencn, ct.tenct FROM CHI_NHANH cn 
JOIN CONG_TRINH ct ON cn.macn = ct.macn
ORDER BY cn.tencn
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('Chi nhanh 1', 'Cong trinh so 5')
('Chi nhanh 2', 'Cong trinh so 4')
('Chi nhanh 2', 'Cong trinh so 6')
('Chi nhanh 3', 'Cong trinh so 1')
('Chi nhanh 3', 'Cong trinh so 2')
('Chi nhanh 3', 'Cong trinh so 3')

# Câu d

In [ ]:
query = '''
SELECT nv.manv, nv.honv, nv.tennv, cn.ngaynhamchuc FROM CHI_NHANH cn 
JOIN NHAN_VIEN nv ON cn.macn = nv.macn
WHERE cn.manvptr = nv.manv
ORDER BY nv.manv
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('N02', 'Luu An', 'Tu', '2004-03-07')
('N04', 'Le Kim', 'Oanh', '2005-12-10')
('N08', 'Le Hung', 'Su', '2006-02-16')

# Câu e

In [10]:
query = '''
SELECT nv.manv, nv.honv, nv.tennv, ct.mact, ct.tenct
FROM NHAN_VIEN nv
JOIN PHAN_CONG pc ON nv.manv = pc.manv
JOIN CONG_TRINH ct ON pc.mact = ct.mact
WHERE pc.sogiotuan > 25
ORDER BY nv.manv;
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('N01', 'Tran Ngoc', 'An', 'CT02', 'Cong trinh so 2')
('N02', 'Luu An', 'Tu', 'CT04', 'Cong trinh so 4')
('N03', 'Ly Thanh', 'Ngoc', 'CT04', 'Cong trinh so 4')
('N06', 'Nguyen Thi', 'Chin', 'CT04', 'Cong trinh so 4')
('N07', 'Le Van', 'Bon', 'CT06', 'Cong trinh so 6')

# Câu f

Danh sách mã số và tên của những công trình do các chi nhánh khác nhau thi công nhưng lại ở
cùng thành phố. Mỗi cặp chỉ liệt kê 1 lần, ví dụ đã liệt kê (i, j) thì không liệt kê lại (j, i).

In [ ]:
query = '''

'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

# Câu g

In [34]:
query = '''
SELECT * FROM VPHONG_CN vpcn
JOIN CONG_TRINH ct ON vpcn.macn = ct.macn
WHERE vpcn.matp = ct.matp
ORDER BY ct.macn
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('C01', '01', 'CT05', 'Cong trinh so 5', '2007-06-22', '2007-12-25', '01', 'C01')
('C02', '02', 'CT04', 'Cong trinh so 4', '2007-07-18', '2007-12-25', '02', 'C02')
('C02', '02', 'CT06', 'Cong trinh so 6', '2007-06-22', '2007-12-10', '02', 'C02')
('C03', '03', 'CT01', 'Cong trinh so 1', '2007-03-07', '2007-05-15', '03', 'C03')
('C03', '04', 'CT02', 'Cong trinh so 2', '2007-02-16', '2007-05-15', '04', 'C03')
('C03', '01', 'CT03', 'Cong trinh so 3', '2007-07-16', '2007-07-18', '01', 'C03')

# Câu h

In [48]:
query = '''
SELECT nv1.honv, nv1.tennv, nv2.honv, nv2.tennv FROM NHAN_VIEN nv1
JOIN NHAN_VIEN nv2 on nv1.manvquanly = nv2.manv
ORDER BY nv1.manv
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('Tran Ngoc', 'An', 'Luu An', 'Tu')
('Ly Thanh', 'Ngoc', 'Le Kim', 'Oanh')
('Ly Van', 'Nan', 'Luu An', 'Tu')
('Nguyen Thi', 'Chin', 'Ly Van', 'Nan')
('Le Van', 'Bon', 'Le Kim', 'Oanh')

# Câu i

In [ ]:
query = '''
SELECT ct.tenct, nv.honv, nv.tennv FROM NHAN_VIEN nv 
JOIN CONG_TRINH ct ON nv.macn = ct.macn
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('Cong trinh so 1', 'Tran Ngoc', 'An')
('Cong trinh so 2', 'Tran Ngoc', 'An')
('Cong trinh so 3', 'Tran Ngoc', 'An')
('Cong trinh so 1', 'Luu An', 'Tu')
('Cong trinh so 2', 'Luu An', 'Tu')
('Cong trinh so 3', 'Luu An', 'Tu')
('Cong trinh so 4', 'Ly Thanh', 'Ngoc')
('Cong trinh so 6', 'Ly Thanh', 'Ngoc')
('Cong trinh so 4', 'Le Kim', 'Oanh')
('Cong trinh so 6', 'Le Kim', 'Oanh')
('Cong trinh so 1', 'Ly Van', 'Nan')
('Cong trinh so 2', 'Ly Van', 'Nan')
('Cong trinh so 3', 'Ly Van', 'Nan')
('Cong trinh so 1', 'Nguyen Thi', 'Chin')
('Cong trinh so 2', 'Nguyen Thi', 'Chin')
('Cong trinh so 3', 'Nguyen Thi', 'Chin')
('Cong trinh so 4', 'Le Van', 'Bon')
('Cong trinh so 6', 'Le Van', 'Bon')
('Cong trinh so 5', 'Le Hung', 'Su')

# Câu j

In [ ]:
query = '''
SELECT ct.tenct, SUM(pc.sogiotuan) FROM PHAN_CONG pc 
JOIN CONG_TRINH ct ON ct.mact = pc.mact
GROUP BY ct.mact
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('Cong trinh so 1', 30)
('Cong trinh so 2', 48)
('Cong trinh so 3', 42)
('Cong trinh so 4', 98)
('Cong trinh so 5', 62)
('Cong trinh so 6', 84)

# Câu k

In [ ]:
query = '''
SELECT cn.tencn, AVG(nv.mucluong) FROM NHAN_VIEN nv 
JOIN CHI_NHANH cn ON nv.macn = cn.macn
GROUP BY cn.tencn
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('Chi nhanh 1', 6500000.0)
('Chi nhanh 2', 4600000.0)
('Chi nhanh 3', 4425000.0)

# Câu l

In [13]:
query = '''
SELECT AVG(nv.mucluong) FROM NHAN_VIEN nv 
WHERE PHAI = 'Nữ'
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

(4166666.6666666665,)

# Câu m

In [14]:
query = '''
SELECT cn.tencn, COUNT(nv.manv) 
FROM NHAN_VIEN nv 
JOIN CHI_NHANH cn ON nv.macn = cn.macn
GROUP BY cn.tencn
HAVING AVG(nv.mucluong) > 4500000
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('Chi nhanh 1', 1)
('Chi nhanh 2', 3)

# Câu n

Danh sách mã số công trình mà trong đó tên nhân viên tham gia công trình hay tên người trưởng
chi nhánh phụ trách công trình đó có 4 ký tự trở lên.

# Câu o

Danh sách mã số và họ tên nhân viên có mức lương trên mức lương trung bình của chi nhánh có
tên ‘Chi nhánh 2’

In [58]:
query = '''
SELECT nv1.manv, nv1.honv, nv1.tennv 
FROM NHAN_VIEN nv1
WHERE nv1.mucluong > (
    SELECT AVG(nv2.mucluong)
    FROM NHAN_VIEN nv2
    JOIN CHI_NHANH cn ON nv2.macn = cn.macn
    WHERE cn.tencn = 'Chi nhanh 2'
)
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('N02', 'Luu An', 'Tu')
('N04', 'Le Kim', 'Oanh')
('N05', 'Ly Van', 'Nan')
('N08', 'Le Hung', 'Su')

# Câu p

In [97]:
query = '''
SELECT cn.tencn, nv1.honv, nv1.tennv, COUNT(nv1.manv) as soluongnv
FROM CHI_NHANH cn
JOIN NHAN_VIEN nv1 ON nv1.manv = cn.manvptr
JOIN NHAN_VIEN nv2 ON cn.macn = nv2.macn
GROUP BY cn.macn
ORDER BY soluongnv DESC
'''

cur.execute(query)
result = cur.fetchall()
for row in result:
    print(row)

('Chi nhanh 3', 'Luu An', 'Tu', 4)
('Chi nhanh 2', 'Le Kim', 'Oanh', 3)
('Chi nhanh 1', 'Le Hung', 'Su', 1)

# Câu q

Danh sách mã số, họ tên nhân viên trùng tên với nhau. Mỗi cặp chỉ liệt kê 1 lần, ví dụ đã liệt kê (i,
j) thì không liệt kê lại (j, i)

# Câu r

Danh sách họ tên nhân viên chỉ làm việc cho các công trình mà chi nhánh phụ trách công trình
không phải là chi nhánh mà mình trực thuộc